*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(68, 52, 52, 0.7),rgba(68, 52, 52, 0.7)),url(You-do-not-need-to-go-down-the-classic-route-for-a-luxurious-dining-room.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navba {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #e7e4e4;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;   
}
h1{
    color: #fff;
    font-size: 100px;

}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
   width: 100px;
   color: #000;
   font-size: 12px;
   padding: 12px 0;
   background: #fff;
   border: 0;
   border-radius: 20px;
   outline: none;
   margin-top: 30px; 
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(maxresdefault.jpg);
}
.card2{
    background-image: url(cooked-food-1860208.jpg);
}
.card3{
    background-image: url(a56dd247-6f5b-4224-9361-5747254c7272.jpg);
}
.card4{
    background-image: url(5d662c8ea84656a7661be92a_1566977166741.jpg);
}
.card:hover{
    transform: translate(-10px);
}
h5{
    colour: #fff;
    text-shadow: 0 0 5px #999;
}

